/* custom style */
.carousel-item img{
    filter: brightness(60%);
}
.bg-blog{
    background-color: #F4FAFD;
}
/* slight responsive for desktop */
@media only screen and (min-width: 992px) {
    .carousel-caption{
        position: absolute;
        top: 40%;
    }
}
/* slight responsive for mobile */
@media only screen and (max-width: 688px) {
    .carousel-caption h1{
        margin: 5px;
        font-size: 18px;
        font-weight: 600;
    }
    .carousel-caption p{
        font-size: 10px;
        font-weight: 400;
    }
    .carousel-caption button{
        height: 30px;
        font-size: 12px;
    }
    .work-image{
        width: 334px;
        height: 274px;
    }
}
/* slight responsive for tablet or ipad */
@media only screen and (min-width: 689px) and (max-width: 992px){
    .work-image{
        width: 334px;
        height: 550px;
    }
    .work-blog h1{
        font-size: 30px;
    }
    .work-blog p{
        font-size: 16px;
    }

}